body {
    background-color: #000;
}

.logo {
    width: 500px;
    height: 500px;
}

.logo2 {
    width: 780px;
    height: 780px;
    display: block;
    margin: 0px auto;
}

.inicial {
    display: block;
    margin: 0px auto;
    width: 100px;
    background-color: #daa520;
}

.inicial:hover {
   
    background-color: #daa520;
}

.text-colored {
    color: #daa520;
}

.pdr {
    color: #fff;
}


.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #daa520;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #daa520;
}

.resposta {
    background-color: #000;
}

footer {
    text-align: center;
}