body {
    background-color: #0d0d0d;
}

.logo {
    width: 500px;
    height: 450px;
    display: block;
    margin: 0px auto;
    padding: auto;
}

.logo2 {
    width: 780px;
    height: 780px;
    display: block;

    padding: auto;
}

.inicial {
    display: block;
    margin: 0px auto;
    width: 100px;
    background-color: #f2c879;
}

.inicial:hover {
   
    background-color: #f2c879
}

.text-colored {
    color: #f2c879;
}

.text-colored2 {
    color: #4DBF3B ;
}

.pdr {
    color: #f2c879;
}


.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #f2c879;
    color: #f2c879;
}

.nav-cardapio .nav-link:hover {
    color: #f2c879 ;
    background-color: #4DBF3B
    ;
}

.resposta {
    background-color: #000;
}

footer {
    text-align: center;
}

.colap {
    background-color: #4dbf3b;
}