body {
    background-color: rgb(27, 28, 27);
}

.logo {
    width: 310px;
    height: 290px;
}

.text-colored {
    color: #daa520;
}

.pdr {
    color: #fff;
}


.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #e15f41;
}

.resposta {
    background-color: #000;
}